$primary: #4f3130;
$secondary: #aa5042;
$warning: #d8bd8a;
// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: poppins, system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: poppins, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;

@import "../node_modules/bootstrap/scss/bootstrap";

.row.g-4 {
  align-items: stretch;
}

/* Make cards use flex column and fill column height */
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Style card images to have consistent height and cropping */
.card .card-img-top {
  width: 100%;
  height: 13.75em;
  object-fit: cover;
  display: block;
}

.card-body {
  flex: 1 1 auto;
}

/* Responsive adjustments */
@media (max-width: 47.99em) {
  .card .card-img-top {
    height: 10em;
  }
}

@media (min-width: 62em) {
  .card .card-img-top {
    height: 16.25em;
  }
}
